
body{
font-family: 'Times New Roman', Times, serif;   
background: white; 
text-align: center;
line-height: 3.5;

}
header{
    background: url(123.jpg);
    height: 300px;
   background-size: cover;
    margin: 0cm;
    
}

.btn {
    display: inline-block;
    background: rgb(236, 134, 187);
    color: #fff;
    text-decoration: none;
    padding: 0 1em;
    
    
}