body{
    background-color: rgb(242, 220, 193);
    margin: 10%;

    header{
        width: 100%;
        h1{
            background-color: rgb(235, 117, 117);
            text-align: center;       
        }
        img {
            width: 100%;
        }

    }
    main{
        .part1{
            display: flex;
            justify-content: space-between;
        }        
        p{
            text-align: justify;
        }
    }
   
    footer{
        text-align: center;
        background-color: rgb(235, 117, 117);
    }
}