

#title1 {
    background-color: rgb(69, 68, 68);
    color: aliceblue;
}

#text {
    display: flex;
    color: rgb(1, 1, 1);
 }
#title2 {
    background-color: rgb(69, 68, 68);
    text-align: left;
    color: aliceblue;
}

