body{
    background-color: blanchedalmond;
    margin: 5%;
       

}

header{
    text-align: center;
    

}
img{
    margin: auto;
    width: 800px;
       
}
.s1{
    display: flex;
    justify-content: space-between;

}

footer{
    text-align: center;
    background-color: beige;
    font-style: italic;
    height: 50px;
}